%nav.navbar.navbar-light.bg-faded.navbar-fixed-top
  %a.navbar-brand
    = link_to "InstaTute", root_path
  - if admin_signed_in?
    = link_to('Logout', destroy_admin_session_path, :method => :delete, :class => "btn btn-secondary btn-sm pull-xs-right")
  - else
    = link_to('Login', new_admin_session_path, :class => "btn btn-secondary btn-sm pull-xs-right")
  - if admin_signed_in?
    = link_to('Edit registration', edit_admin_registration_path, :class => "btn btn-secondary btn-sm pull-xs-right")
