%h2.display-4 Welcome
%h4 Need a tutor?
%br
.row
  .col-md-6
    = link_to('Schedule In-Person Session', '/users/new_session', :class => "w-100 btn btn-primary")
  .col-md-6
    = link_to('Start Chat Session', '/users/new_chat', :class => "w-100 btn btn-secondary")
